{% extends "layout.html" %}

{% block title %}
    Update Password
{% endblock %}

{% block main %}

    {% if flag == 1 %}
    <div class="container col-9">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          New Password creation failed!
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    </div>
    {% endif %}

    <div class="container p-5">
        <form action="/password" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" style="width:auto; display:inline-block;" name="username" placeholder="Username" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" style="width:auto; display:inline-block;" name="password" placeholder="Password" type="password">
            </div>
            <div class="form-group">
                <input class="form-control" style="width:auto; display:inline-block;" name="new" placeholder="New Password" type="password">
            </div>
            <div class="form-group">
                <input class="form-control" style="width:auto; display:inline-block;" name="confirm" placeholder="Confirm" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Update</button>
        </form>
    </div>
{% endblock %}
